tasks:
  - name: start-registry
    description: Creates a docker registry for local image storage
    actions:
      - cmd: docker stop registry || true
      - cmd: docker rm registry || true
      - cmd: docker run -d -p 5000:5000 --restart=always --name registry registry:2
